<div class="h-5/6 w-4/5 flex mx-auto">
  <div class="w-full">
    <button class="btn btn-secondary btn-sm" (click)="toggleGraph()">
      {{ toggleButtonText }}
    </button>
    <ng-container *ngIf="diaryType === 'table'; else graph">
      <div class="overflow-x-auto w-full max-h-[70%]">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Weight</th>
              <th>BMI</th>
              <th>BMR</th>
            </tr>
          </thead>
          <tbody *ngFor="let entry of entries">
            <tr>
              <td>
                <input
                  type="radio"
                  name="entry"
                  class="radio"
                  (click)="entryClick($event, entry)"
                />
              </td>
              <td>
                {{ entry.date }}
              </td>
              <td>
                {{ entry.weight }}
              </td>
              <td class="text-sm">{{ entry.bmi }}</td>
              <td>{{ entry.bmr }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Weight</th>
              <th>BMI</th>
              <th>BMR</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="grid grid-cols-3 mt-4">
        <div class="justify-self-start">
          <select
            class="select select-bordered w-fit"
            (change)="sizesValueChange($event)"
          >
            <option *ngFor="let size of sizes">{{ size }}</option>
          </select>
        </div>
        <div class="btn-group justify-self-center">
          <button
            class="btn"
            [ngClass]="{ 'btn-disabled': currentPage === 1 }"
            (click)="btnPreviousClick()"
          >
            «
          </button>
          <button class="btn">{{ currentPage }}</button>
          <button
            class="btn"
            [ngClass]="{ 'btn-disabled': pages?.length === currentPage }"
            (click)="btnNextClick()"
          >
            »
          </button>
        </div>
        <button
          class="btn btn-error justify-self-end"
          (click)="deleteEntry()"
          *ngIf="selectedEntry !== null"
        >
          Smazat
        </button>
        <div class="" *ngIf="selectedEntry === null"></div>
      </div>
      <label
        for="auth-dialog"
        class="btn btn-circle btn-lg btn-secondary absolute right-5 bottom-5"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48">
          <path
            d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z"
            class="fill-secondary-content"
          />
          <path fill="none" d="M0 0h48v48H0z" />
        </svg>
      </label>
    </ng-container>
    <ng-template #graph>
      <app-graph></app-graph>
    </ng-template>
  </div>
</div>
