<div>
  <!-- <div *ngIf="user | async as user"> -->
  <input
    type="checkbox"
    id="auth-dialog"
    class="modal-toggle"
    (change)="dialogClose($event)"
    #dialog
  />
  <label for="auth-dialog" class="modal cursor-pointer">
    <label class="modal-box relative" for="totalrandomstring">
      <app-login
        [isDialogOpen]="isDialogOpen"
        *ngIf="!(user | async) && dialogType === 'login'"
        (closeDialog)="closeDialog()"
      ></app-login>
      <app-register
        [isDialogOpen]="isDialogOpen"
        *ngIf="!(user | async) && dialogType === 'register'"
        (closeDialog)="closeDialog()"
      ></app-register>
      <app-new-entry
        [isDialogOpen]="isDialogOpen"
        *ngIf="user | async"
        (closeDialog)="closeDialog()"
      ></app-new-entry>
    </label>
  </label>
</div>
