<h3 class="text-lg font-bold">Přihlášení</h3>
<form [formGroup]="fg" (ngSubmit)="submit()">
  <div class="w-fit mx-auto">
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Uživ. jméno</span>
      </label>
      <input
        type="text"
        class="input input-bordered w-full max-w-xs"
        formControlName="username"
        [ngClass]="{
          'input-error':
            (fg.controls['username'].touched &&
              fg.controls['username'].invalid) ||
            invalidCredentialsError
        }"
      />
      <label class="label">
        <span class="label-text-alt"></span>
      </label>
    </div>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Heslo</span>
      </label>
      <input
        type="password"
        class="input input-bordered w-full max-w-xs"
        formControlName="password"
        [ngClass]="{
          'input-error':
            (fg.controls['password'].touched &&
              fg.controls['password'].invalid) ||
            invalidCredentialsError
        }"
      />
      <label class="label">
        <span class="label-text-alt text-error" *ngIf="invalidCredentialsError"
          >Nesprávné jméno/heslo</span
        >
      </label>
    </div>
    <div class="flex justify-center">
      <button type="submit" class="btn btn-primary">Přihlásit se</button>
    </div>
  </div>
</form>
