<div class="mt-4">
  <form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="flex justify-center gap-7 w-4/5 mx-auto">
      <div>
        <label class="label">
          <span class="label-text">Datum od:</span>
        </label>
        <div class="relative">
          <input
            type="date"
            class="input input-bordered w-80 max-w-xs -indent-[500px] text-transparent"
            formControlName="from"
            (click)="dateFromInputClick($event)"
            (change)="dateFromChange($event)"
            [ngClass]="{
              'input-error':
                fg.controls['from'].touched && fg.controls['from'].invalid
            }"
          />
          <span class="absolute top-3 left-5 pointer-events-none">{{
            dateFromText
          }}</span>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="label-text">Datum do:</span>
        </label>
        <div class="relative">
          <input
            type="date"
            class="input input-bordered w-80 max-w-xs -indent-[500px] text-transparent"
            formControlName="to"
            (click)="dateToInputClick($event)"
            (change)="dateToChange($event)"
            [ngClass]="{
              'input-error':
                fg.controls['to'].touched && fg.controls['to'].invalid
            }"
          />
          <span class="absolute top-3 left-5 pointer-events-none">{{
            dateToText
          }}</span>
        </div>
      </div>
    </div>
    <div class="w-full flex place-content-center my-2">
      <button type="submit" class="btn btn-primary">Ukaž graf</button>
    </div>
  </form>
  <div
    class="w-4/5 mx-auto"
    *ngIf="noEntries === null; else noEntriesPlaceholder"
  >
    <canvas #lineCanvas></canvas>
  </div>
  <ng-template #noEntriesPlaceholder>
    <div class="w-full flex justify-center">
      <span class="text-base-content text-2xl text-center"
        >Mezi daty {{ fg.controls["from"].value }} a
        {{ fg.controls["to"].value }} nebyly nalezeny žádné záznamy</span
      >
    </div>
  </ng-template>
</div>
