<div class="mt-4">
  <form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="flex justify-between w-4/5 mx-auto">
      <div>
        <label class="label">
          <span class="label-text">Datum od:</span>
        </label>
        <div class="relative">
          <input
            type="date"
            class="input input-bordered w-80 max-w-xs -indent-[500px] text-transparent"
            formControlName="from"
            (click)="dateFromInputClick($event)"
            (change)="dateFromChange($event)"
          />
          <span class="absolute top-3 left-5 pointer-events-none">{{
              dateFromText
          }}</span>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="label-text">Datum do:</span>
        </label>
        <div class="relative">
          <input
            type="date"
            class="input input-bordered w-80 max-w-xs -indent-[500px] text-transparent"
            formControlName="to"
            (click)="dateToInputClick($event)"
            (change)="dateToChange($event)"
          />
          <span class="absolute top-3 left-5 pointer-events-none">{{
              dateToText
          }}</span>
        </div>
      </div>
    </div>
    <div class="w-full flex place-content-center my-2">
      <button type="submit" class="btn btn-primary">Ukaž graf</button>
    </div>
  </form>
  <canvas #lineCanvas></canvas>
</div>
